<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peg.dao.performance.YearPerformanceMapper" >
  <!-- 年度指标数据基础映射 -->
  <resultMap id="BaseResultMap" type="com.peg.model.performance.YearPerformance" >
    <result column="YEAR_ID" property="id" jdbcType="DECIMAL" />
    <result column="YEAR_PI_ID" property="piid" jdbcType="DECIMAL" />
    <result column="YEAR_LASTYEARREALITYVALUE" property="lastYearRealityValue" jdbcType="VARCHAR" />
    <result column="YEAR_FIRSTYEARREFERENCEVALUE" property="firstYearReferenceValue" jdbcType="VARCHAR" />
    <result column="YEAR_REFERENCEVALUE" property="referenceValue" jdbcType="VARCHAR" />
    <result column="YEAR_TARGETVALUE" property="targetValue" jdbcType="VARCHAR" />
    <result column="YEAR_FIRSTYEARTARGETVALUE" property="firstYearTargetValue" jdbcType="VARCHAR" />
    <result column="YEAR_SECONDYEARTARGETVALUE" property="secondYearTargetValue" jdbcType="VARCHAR" />
    <result column="YEAR_CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="YEAR_CREATEUSER" property="createUser" jdbcType="VARCHAR" />
    <result column="YEAR_UPDATETIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="YEAR_UPDATEUSER" property="updateUser" jdbcType="VARCHAR" />
    <result column="YEAR_COLUMN1" property="column1" jdbcType="VARCHAR" />
    <result column="YEAR_COLUMN2" property="column2" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 根据绩效指标主键查询年度绩效指标记录 -->
	<select id="selectByPiid" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select ID YEAR_ID,PI_ID YEAR_PI_ID,LASTYEARREALITYVALUE YEAR_LASTYEARREALITYVALUE,FIRSTYEARREFERENCEVALUE YEAR_FIRSTYEARREFERENCEVALUE,
		REFERENCEVALUE YEAR_REFERENCEVALUE,TARGETVALUE YEAR_TARGETVALUE,FIRSTYEARTARGETVALUE YEAR_FIRSTYEARTARGETVALUE,
		SECONDYEARTARGETVALUE YEAR_SECONDYEARTARGETVALUE,CREATETIME YEAR_CREATETIME,CREATEUSER YEAR_CREATEUSER,
		UPDATETIME YEAR_UPDATETIME,UPDATEUSER YEAR_UPDATEUSER,COLUMN1 YEAR_COLUMN1,COLUMN2 YEAR_COLUMN2
		from Y_YEAR_PERFORMANCE where PI_ID = #{piid,jdbcType=DECIMAL}
	</select> 
  
	<select id="getAllByPage" resultMap="BaseResultMap">
 		SELECT D.ID, FACTORY_NUMBER, S.DESCRIPTION FACTORY_NAME, DEPARTMENT_NUMBER, DEPARTMENT_NAME, D.CREATION_TIME, D.CREATION_NAME FROM DEPARTMENT D, SITE S WHERE D.FACTORY_NUMBER = S.SITE_NAME
		<if test="hashMap.factoryNumber != null and hashMap.factoryNumber != ''">
			and D.factory_number like '%${hashMap.factoryNumber}%'
		</if>
		<if test="hashMap.departmentNumber != null and hashMap.departmentNumber != ''">
			and D.DEPARTMENT_NUMBER like '%${hashMap.departmentNumber}%'
		</if>
		order by D.FACTORY_NUMBER , D.DEPARTMENT_NUMBER 
  	</select>
  
	<select id="getAll" resultMap="BaseResultMap">
 		SELECT D.ID, FACTORY_NUMBER, S.DESCRIPTION FACTORY_NAME, DEPARTMENT_NUMBER, DEPARTMENT_NAME, D.CREATION_TIME, D.CREATION_NAME FROM DEPARTMENT D, SITE S WHERE D.FACTORY_NUMBER = S.SITE_NAME
		<if test="hashMap.factoryNumber != null and hashMap.factoryNumber != ''">
			and D.factory_number like '%${hashMap.factoryNumber}%'
		</if>
		<if test="hashMap.departmentNumber != null and hashMap.departmentNumber != ''">
			and D.DEPARTMENT_NUMBER like '%${hashMap.departmentNumber}%'
		</if>
		order by D.FACTORY_NUMBER , D.DEPARTMENT_NUMBER
  	</select>
  
	<insert id="insert" parameterType="com.peg.model.jxmb.PerDeparment" >
		insert into DEPARTMENT (FACTORY_NUMBER, FACTORY_NAME, DEPARTMENT_NUMBER, DEPARTMENT_NAME, CREATION_NAME)
		values (#{factoryNumber,jdbcType=VARCHAR}, #{factoryName,jdbcType=VARCHAR}, #{departmentNumber,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{creationName,jdbcType=VARCHAR})
  	</insert>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT D.ID, FACTORY_NUMBER, FACTORY_NAME, DEPARTMENT_NUMBER, DEPARTMENT_NAME, D.CREATION_TIME, D.CREATION_NAME FROM DEPARTMENT D, SITE S WHERE D.FACTORY_NUMBER = S.SITE_NAME
		AND D.ID = #{id,jdbcType=DECIMAL}
	</select>  
	
	<!-- 根据部门编号查询部门记录 -->
	<select id="selectByDepartmentNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT D.ID, FACTORY_NUMBER, FACTORY_NAME, DEPARTMENT_NUMBER, DEPARTMENT_NAME, D.CREATION_TIME, D.CREATION_NAME FROM DEPARTMENT D, SITE S WHERE D.FACTORY_NUMBER = S.SITE_NAME
		AND D.DEPARTMENT_NUMBER = #{departmentNumber,jdbcType=VARCHAR}
	</select>  
	
	<!-- 根据部门名称查询部门记录 -->
	<select id="selectByDepartmentName" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT D.ID, FACTORY_NUMBER, FACTORY_NAME, DEPARTMENT_NUMBER, DEPARTMENT_NAME, D.CREATION_TIME, D.CREATION_NAME FROM DEPARTMENT D, SITE S WHERE D.FACTORY_NUMBER = S.SITE_NAME
		AND D.DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR}
	</select> 
	
    <insert id="insertSelective" parameterType="com.peg.model.performance.PerformanceIndex" >
  	<selectKey resultType="long" order="AFTER" keyProperty="id">
      select QMS_YEAR_PERFORMANCE_SEQUENCE.currval as ID from dual
    </selectKey> 
    insert into Y_YEAR_PERFORMANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="piid != null and piid != ''" >
        PI_ID,
      </if>
      <if test="lastYearRealityValue != null and lastYearRealityValue != ''" >
        lastYearRealityValue,
      </if>
      <if test="firstYearReferenceValue != null and firstYearReferenceValue != ''" >
        firstYearReferenceValue,
      </if>
      <if test="referenceValue != null and referenceValue != ''" >
        referenceValue,
      </if>
      <if test="targetValue != null and targetValue != ''" >
        targetValue,
      </if>
      <if test="firstYearTargetValue != null and firstYearTargetValue != ''" >
        firstYearTargetValue,
      </if>
      <if test="secondYearTargetValue != null and secondYearTargetValue != ''" >
        secondYearTargetValue,
      </if>
      <if test="createTime != null and createTime != ''" >
        createTime,
      </if>
      <if test="createUser != null and createUser != ''" >
        createUser,
      </if>
      <if test="updateTime != null and updateTime != ''" >
        updateTime,
      </if>
      <if test="updateUser != null and updateUser != ''" >
        updateUser,
      </if>
      <if test="column1 != null and column1 != ''" >
        column1,
      </if>
      <if test="column2 != null and column2 != ''" >
        column2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="piid != null and piid != ''" >
        #{piid,jdbcType=DECIMAL},
      </if>
      <if test="lastYearRealityValue != null and lastYearRealityValue != ''" >
        #{lastYearRealityValue,jdbcType=VARCHAR},
      </if>
      <if test="firstYearReferenceValue != null and firstYearReferenceValue != ''" >
        #{firstYearReferenceValue,jdbcType=VARCHAR},
      </if>
      <if test="referenceValue != null and referenceValue != ''" >
        #{referenceValue,jdbcType=VARCHAR},
      </if>
      <if test="targetValue != null and targetValue != ''" >
        #{targetValue,jdbcType=VARCHAR},
      </if>
      <if test="firstYearTargetValue != null and firstYearTargetValue != ''" >
        #{firstYearTargetValue,jdbcType=VARCHAR},
      </if>
      <if test="secondYearTargetValue != null and secondYearTargetValue != ''" >
        #{secondYearTargetValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != ''" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null and createUser != ''" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null and updateTime != ''" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null and updateUser != ''" >
        #{updateUser,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null and column1 != ''" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null and column2 != ''" >
        #{column2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

	<update id="update" parameterType="com.peg.model.jxmb.PerDeparment">
		UPDATE DEPARTMENT SET 
		FACTORY_NUMBER = #{factoryNumber, jdbcType=VARCHAR},
		FACTORY_NAME = #{factoryName, jdbcType=VARCHAR},
		DEPARTMENT_NUMBER = #{departmentNumber, jdbcType=VARCHAR},
		DEPARTMENT_NAME = #{departmentName, jdbcType=VARCHAR}
		WHERE ID = #{id, jdbcType=DECIMAL}
	</update>

  <update id="updateByPrimaryKeySelective" parameterType="com.peg.model.performance.YearPerformance" >
    update Y_YEAR_PERFORMANCE
    <set >
      <if test="lastYearRealityValue != null and lastYearRealityValue != ''" >
        lastYearRealityValue = #{lastYearRealityValue,jdbcType=VARCHAR},
      </if>
      <if test="firstYearReferenceValue != null and firstYearReferenceValue != ''" >
        firstYearReferenceValue = #{firstYearReferenceValue,jdbcType=VARCHAR},
      </if>
      <if test="referenceValue != null and referenceValue != ''" >
        referenceValue = #{referenceValue,jdbcType=VARCHAR},
      </if>
      <if test="targetValue != null and targetValue != ''" >
        targetValue = #{targetValue,jdbcType=VARCHAR},
      </if>
      <if test="firstYearTargetValue != null and firstYearTargetValue != ''" >
        firstYearTargetValue = #{firstYearTargetValue,jdbcType=VARCHAR},
      </if>
      <if test="secondYearTargetValue != null and secondYearTargetValue != ''" >
        secondYearTargetValue = #{secondYearTargetValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != ''" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null and createUser != ''" >
        createUser = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null and updateTime != ''" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null and updateUser != ''" >
        updateUser = #{updateUser,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null and column1 != ''" >
        column1 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null and column2 != ''" >
        column2 = #{column2,jdbcType=VARCHAR},
      </if>
    </set>
    where PI_ID = #{id,jdbcType=DECIMAL}
  </update>
	
  
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Y_YEAR_PERFORMANCE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  
	<!-- 根据绩效指标ID删除年度绩效指标 -->    
	<delete id="deleteByPiid" parameterType="java.lang.Long" >
	    delete from Y_YEAR_PERFORMANCE where PI_ID = #{piid,jdbcType=DECIMAL}
	</delete>
</mapper>