<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peg.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.peg.model.Area">
    <id column="AREA_KEY" jdbcType="DECIMAL" property="areaKey" />
    <id column="SITE_NUM" jdbcType="DECIMAL" property="siteNum" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="CREATOR_KEY" jdbcType="DECIMAL" property="creatorKey" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="CREATION_TIME_U" jdbcType="TIMESTAMP" property="creationTimeU" />
    <result column="CREATION_TIME_Z" jdbcType="VARCHAR" property="creationTimeZ" />
    <result column="LAST_MODIFIER_KEY" jdbcType="DECIMAL" property="lastModifierKey" />
    <result column="LAST_MODIFIED_TIME" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="LAST_MODIFIED_TIME_U" jdbcType="TIMESTAMP" property="lastModifiedTimeU" />
    <result column="LAST_MODIFIED_TIME_Z" jdbcType="VARCHAR" property="lastModifiedTimeZ" />
    <result column="XFR_INSERT_PID" jdbcType="DECIMAL" property="xfrInsertPid" />
    <result column="XFR_UPDATE_PID" jdbcType="DECIMAL" property="xfrUpdatePid" />
    <result column="TRX_ID" jdbcType="CHAR" property="trxId" />
    <result column="UPDATE_PRIVILEGE_KEY" jdbcType="DECIMAL" property="updatePrivilegeKey" />
    <result column="DELETE_PRIVILEGE_KEY" jdbcType="DECIMAL" property="deletePrivilegeKey" />
    <result column="LOCATION_KEY" jdbcType="DECIMAL" property="locationKey" />
    <result column="INST_LIST_KEY" jdbcType="DECIMAL" property="instListKey" />
    <result column="WORK_SCHEDULE_KEY" jdbcType="DECIMAL" property="workScheduleKey" />
  </resultMap>
  <sql id="Base_Column_List">
    AREA_KEY, SITE_NUM, AREA_NAME, DESCRIPTION, CATEGORY, CREATOR_KEY, CREATION_TIME, 
    CREATION_TIME_U, CREATION_TIME_Z, LAST_MODIFIER_KEY, LAST_MODIFIED_TIME, LAST_MODIFIED_TIME_U, 
    LAST_MODIFIED_TIME_Z, XFR_INSERT_PID, XFR_UPDATE_PID, TRX_ID, UPDATE_PRIVILEGE_KEY, 
    DELETE_PRIVILEGE_KEY, LOCATION_KEY, INST_LIST_KEY, WORK_SCHEDULE_KEY
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.peg.model.Area" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AREA
    where AREA_KEY = #{areaKey,jdbcType=DECIMAL}
      and SITE_NUM = #{siteNum,jdbcType=DECIMAL}
  </select>
 <select id="selectByFactory" resultMap="BaseResultMap"  >
    select a.DESCRIPTION as description from site s,area a,site_area sa
    where sa.child_key=a.area_key
    and sa.parent_key=s.site_key and s.description= #{param1}
  </select>
</mapper>